.wrapper{

  text-align: center;

  display: block;
  margin:0px auto;
  width: 960px;
  height: 960px;


}



#sly{
  color:grey;


  text-align: center;


}




#butt{

   background-color: #d9d9d9;
   color: white;
   text-align: center;
   text-decoration: none;
   border: none;
   font-size: 20px;
   padding: 10px 20px 10px 20px;

}

#button{
  text-align: center;
  margin-bottom: 5px;
}

#butt2{

   background-color: #d9d9d9;
   color: white;
   text-align: center;
   text-decoration: none;
   border: none;
   font-size: 20px;
   padding: 10px 20px 10px 20px;

}

#button2{
  text-align: center;
  margin-bottom: 5px;
}
